body {
    font-family: Tahoma;    
    background-color: #fcebb6;
    color: #221811;
}
header {
    background-color: #d2b48c;
    color: #8c3826;
    text-align: center;
}
h1 {
    line-height: 200%;
}
h2 {
    color: #8c3826;
}
nav {
    text-align: center;
    font-weight: bold;
}
#wrapper { width: 80%;
          background-color: #fefaeb;
          margin-left: auto;
          margin-right: auto; }

footer{ 
     background-color: #d2b48c;
     font-size: .60em;
     font-style: italic;
     text-align: center;}
